<div class="footer-container">
  @if (footerLinks) {
    <div class="footer-section">
      <div class="footer-left">
        <img class="repami-logo" src="../../assets/logo_repami.svg"
          alt="{{'accessibility.altLogo' | translate}}" />
        <div class="sponsor">
          {{'footer.sponsoredBy' | translate}}
          <img class="senat-logo" src="../../assets/senatsLogo.svg"
            alt="{{'accessibility.altLogoSenate' | translate}}" />
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-sitemap-container">
          @for (link of footerLinks; track link) {
            <a [routerLink]="[link.attributes?.Link]"
              title="{{'accessibility.titleNavigation' | translate}} {{ link.attributes?.Title }}">
              {{ link.attributes?.Title }}
            </a>
          }
          <a href="#faq" title="{{'accessibility.titleFAQ' | translate}}">FAQ</a>
        </div>
      </div>
      <div class="footer-right mobile">
        <div class="footer-sitemap-container">
          @for (link of footerLinks; track link) {
            <a [routerLink]="[link.attributes?.Link]"
            title="{{'accessibility.titleNavigation' | translate}} {{ link.attributes?.Title }}">{{ link.attributes?.Title }}</a>
          }
          <a href="#faq" title="{{'accessibility.titleFAQ' | translate}}">FAQ</a>
        </div>
      </div>
    </div>
  }
  <hr />
  <div class="footer-hyperlinks-container">
    <span routerLink="/kontakt" title="{{'accessibility.titleNavigation' | translate}} {{'footer.contactLink' | translate}}">{{'footer.contactLink' | translate}}</span>
    <span routerLink="/impressum" title="{{'accessibility.titleNavigation' | translate}} {{'footer.contactImprint' | translate}}">{{'footer.contactImprint' | translate}}</span>
    <span routerLink="/datenschutz" title="{{'accessibility.titleNavigation' | translate}} {{'footer.contactDataProtection' | translate}}">{{'footer.contactDataProtection' | translate}}</span>
    <span (click)="openUsercentrics()" class="cookies" title="{{'accessibility.titleNavigation' | translate}} {{'footer.contactCookies' | translate}}">{{'footer.contactCookies' | translate}}</span>
    <span class="accessibility" routerLink="/barrierearmutserklaerung" title="{{'accessibility.titleNavigation' | translate}} {{'footer.accessibility' | translate}}">{{'footer.accessibility' | translate}}</span>
    <span class="accessibility" routerLink="/nutzungsbedingungen" title="{{'accessibility.titleNavigation' | translate}} {{'footer.termsOfUse' | translate}}">{{'footer.termsOfUse' | translate}}</span>
    <span class="accessibility" routerLink="/teilnahmekriterien" title="{{'accessibility.titleNavigation' | translate}} {{'footer.participationCriteria' | translate}}">{{'footer.participationCriteria' | translate}}</span>
  </div>