<div class="register-outer-container">
  <form nz-form id="register-form" nzNoColon="true" [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="outer-container">
      <h1>Reparaturbetrieb registrieren</h1>
      <p>Du hast bereits ein Profil? <a routerLink="/login">Hier anmelden</a></p>
      <div class="input-container">
        <nz-form-item>
          <nz-form-label class="label"  nzFor="email">{{ 'registration.email' | translate }}</nz-form-label>
          <nz-form-control  [nzErrorTip]="errorTplMail">
            <input nz-input formControlName="email" id="email" (ngModelChange)="updateEmailError()"/>
            <ng-template #errorTplMail let-control>
              @if (control.errors?.['emailTaken']) {
                Ein Konto mit dieser E-Mail existiert bereits
              }
              @if (control.errors?.['email'] || control.errors?.['emailTld']) {
                Das E-Mail-Format ist nicht gültig
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="label" nzFor="password">{{ 'registration.password' | translate }}</nz-form-label>
          <nz-form-control  [nzErrorTip]="errorTpl">
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
              />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['minlength']) {
                Das Passwort muss aus mindestens 8 Zeichen bestehen!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="label"  nzFor="passwordConfirm">{{ 'registration.passwordConfirm' | translate }}</nz-form-label>
          <nz-form-control  [nzErrorTip]="errorTplConfirm">
            <input nz-input type="password" formControlName="passwordConfirm" id="passwordConfirm" />
            <ng-template #errorTplConfirm let-control>
              @if (control.errors?.['required']) {
                Bitte bestätige dein Passwort!
              }
              @if (control.errors?.['confirm']) {
                Die Passwörter stimmen nicht überein!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <div></div>
          <nz-form-control class="checkbox-control" [nzErrorTip]="errorTplTerms">
            <label nz-checkbox formControlName="terms">
              <span>
                Ich akzeptiere die 
                <a routerLink="/nutzungsbedingungen">Nutzungsbedingungen</a> *
              </span>
            </label>
            <ng-template #errorTplTerms let-control>
              @if (control.errors?.['required']) {
                Bitte akzeptiere die Nutzungsbedingungen!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <div></div>
          <nz-form-control class="checkbox-control" [nzErrorTip]="errorTplCriteria">
            <label nz-checkbox formControlName="criteria">
              <span>
                Ich akzeptiere die
                <a routerLink="/teilnahmekriterien">Teilnahmekriterien</a> *
              </span>
            </label>
            <ng-template #errorTplCriteria let-control>
              @if (control.errors?.['required']) {
                Bitte akzeptiere die Teilnahmekriterien!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <div></div>
          <nz-form-control >
            <button nz-button class="button" [disabled]="isSubmitting" nzType="primary">{{ 'registration.registerButton' | translate }}@if (!isSubmitting) {
              <span class="icon-container" nz-icon nzType="right" nzTheme="outline"></span>
              }@if (isSubmitting) {
              <span nz-icon nzType="loading" nzTheme="outline"></span>
            }</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
@if (participateSection) {
  <participate-section [participateSection]="participateSection"></participate-section>
}