<div class="reason-container">
  @if (reasonSection) {
    <div class="section">
      <h2>{{ reasonSection.Titel }}</h2>
      <div>
        {{ reasonSection.Beschreibungstext }}
      </div>
    </div>
  }
  <div class="slider-container">
    <div class="arrowIcon" (click)="testCarousel.pre()" nz-icon nzType="left" nzTheme="outline"></div>
    <nz-carousel #testCarousel [nzDots]="true">
      @for (slide of slicedGruende; track slide) {
        <div nz-carousel-content>
          @for (card of slide; track card) {
            <div class="slider-card">
              @if (card.Icon.data?.attributes?.url) {
                <img class="slider-card-icons" [src]="getImageSrc(card)"
                  alt="{{card.IconAltText}}" />
              }
              <p>{{ card.Karusellkarte }}</p>
            </div>
          }
        </div>
      }
    </nz-carousel>
    <div class="arrowIcon" (click)="testCarousel.next()" nz-icon nzType="right" nzTheme="outline"></div>
  </div>
  <div class="slider-container mobile">
    <div class="arrowIcon" (click)="testCarouselMobile.pre()" nz-icon nzType="left" nzTheme="outline"></div>
    <nz-carousel #testCarouselMobile [nzDots]="true">
      @for (slide of slicedGruendeMobil; track slide) {
        <div nz-carousel-content>
          @for (card of slide; track card) {
            <div class="slider-card">
              @if (card.Icon.data?.attributes?.url) {
                <img class="slider-card-icons" [src]="getImageSrc(card)"
                  alt="{{card.IconAltText}}" />
              }
              <p>{{ card.Karusellkarte }}</p>
            </div>
          }
        </div>
      }
    </nz-carousel>
    <div class="arrowIcon" (click)="testCarouselMobile.next()" nz-icon nzType="right" nzTheme="outline"></div>
  </div>
</div>
