<div class="start-page-outer-container">
  @if (startElementsHeader) {
    <app-header-section [startElementsHeader]="startElementsHeader"></app-header-section>
  }
  <map-section></map-section>
  <instructions-section [instructionSection]="instructionSection"></instructions-section>
  @if (repairSection) {
    <repair-section [repairSection]="repairSection"></repair-section>
  }
  <div class="bottom-section">
    @if (reasonSection) {
      <reason-section [reasonSection]="reasonSection"></reason-section>
    }
    <div id="faq"></div>
    @if (faqSection) {
      <faq-section [faqSection]="faqSection"></faq-section>
    }
  </div>
  @if (participateSection) {
    <participate-section [participateSection]="participateSection"></participate-section>
  }
</div>
