<nz-card class="profile-card" [nzBordered]="false"
         [ngClass]="{
    'white-backround': !clickedCard,
    'pink-background': clickedCard && searchResult.type === 'Handwerksbetrieb',
    'orange-background': clickedCard && searchResult.type === 'Reparaturcafé'
  }"
  >
  @if (this.closable) {
    <div class="close-button" nz-col [nzSpan]="2">
      <button nz-button nzType="text">
        <span nz-icon nzType="close" nzTheme="outline" (click)="this.close()"></span>
      </button>
    </div>
  }
  <div class="info">
    <nz-tag class="tag desktop" [ngClass]="{
    'repairCafe': searchResult.type === 'Reparaturcafé',
    'craftBusiness': searchResult.type === 'Handwerksbetrieb'
    }"
    >{{searchResult.type}}</nz-tag>
    <h4>{{searchResult.title}}</h4>
    <nz-tag class="tag tablet"
            [ngClass]="{
    'repairCafe': searchResult.type === 'Reparaturcafé',
    'craftBusiness': searchResult.type === 'Handwerksbetrieb'
    }">{{searchResult.type}}</nz-tag>
  </div>
  <div class="extra-info-container">
    <div class="extra-info-container-small">
      <div class="extra-info-headline">
        <span nz-icon nzType="environment" nzTheme="fill"></span>
        <h5>{{ 'profileCard.profileAdress' | translate }}</h5>
      </div>
      <div class="extra-info-content">
        <div class="address-details">
          <p>{{searchResult.street}}</p>
          <p>{{searchResult.postalCode}}</p>
        </div>
      </div>
    </div>
    <div class="extra-info-container-small">
      <div class="extra-info-headline">
        <span nz-icon nzType="clock-circle" nzTheme="fill"></span>
        <h5>{{searchResult.type === 'Handwerksbetrieb' ? ('profileCard.profileOpeningTimes' | translate) : ('profileCard.profileNextEvent' | translate)}}</h5>
      </div>
      <div class="extra-info-content">
        <p>{{searchResult.type === 'Handwerksbetrieb' ? searchResult.openingHours : formatDateIfNeeded(searchResult.nextEvent ?? '')}}</p>
      </div>
    </div>
  </div>
  <button nz-button nzType="default" class="button button-orange" (click)="navigateTo()">
    {{ 'profileCard.profileMoreInfo' | translate }}
  </button>
</nz-card>
